<%- include("header"); -%>
<h2>This is the about page</h2>
<p>Aksjadhfksndvuau askdjfh ajsdkjnkasjd asjdhfuewhfk jsadh fashifhaskjnvkjsdahf huwaieruinasdk fjas uirhifnskd </p>
<%- include("footer"); -%>