<%- include("partials/header"); -%>
<h1>Compose</h1>
<form action="/compose" method="POST">
    <div class="form-group">
        <label for="usr">Title</label>
        <input name="postTitle" type="text" class="form-control" id="usr">
        <label for="comment">Post</label>
        <textarea name="postBody"  class="form-control" rows="5"  id="comment"></textarea>
      </div>
<button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>
<%- include("partials/footer"); -%>